body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

button {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-marker {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1160px;
}

.column-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 15px;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 2px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px  0 0 rgba(1, 1, 1, 0.1);
}

/* Хедер и меню */

.main-header {
  padding-top: 49px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  display: flex;
  width: 160px;
  margin: 0;
  margin-right: 202px;
  padding: 0;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 27px;
  width: 440px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 27px;
  margin-left: auto;
  width: 160px;
}

.site-navigation a,
.user-navigation a {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.user-navigation a {
  position: relative;

  padding-left: 39px;
}

.user-navigation a::before {
  content:"";
  position: absolute;
  left: 0;
  top: 2px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

/* Слайдер на главной  */

.slider {
  position: relative;
  margin-bottom: 80px;

  background-color: #eee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 105px;
  z-index: 100;

  width: 110px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background-color: #fff;
}

.slide {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;
}

.slide h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slide p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slide-button {
  width: 240px;
}

#slide-1:checked ~ .slide-list .slide-1 {
  display: block;
}

#slide-2:checked ~ .slide-list .slide-2 {
  display: block;
}

#slide-3:checked ~ .slide-list .slide-3 {
  display: block;
}

#slide-1:checked ~ .slider-controls .slider-controls-item-1::before,
#slide-2:checked ~ .slider-controls .slider-controls-item-2::before,
#slide-3:checked ~ .slider-controls .slider-controls-item-3::before {
  content:"";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color:inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Раздел Заказать */

.order {
  margin-bottom: 40px;

  border-bottom: 2px solid #eee;
}

.order-list {
  display: flex;
  margin-bottom: 80px;
}

.order-list-item {
  width: 300px;
  margin-right: 100px;
}

.order-list-item:last-child {
  margin-right: 0;
}

.order-list-item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.order-list-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.order-list-item h3::before {
  content:"";

  display: block;
  margin-bottom: 25px;
  width: 300px;
  height: 146px;

  background-repeat: no-repeat;
}

.order-web::before {
  background-image: url("../img/illustration-1.png");
}

.order-app::before {
  background-image: url("../img/illustration-2.png");
}

.order-presentation::before {
  background-image: url("../img/illustration-3.png");
}

.order-list-item .button {
  width: 160px;
}

.button-app {
  background-color: #00ca74;
}

.button-app:hover,
.button-app:focus {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
}

/* Раздел О нас */

.about-features-wrapper {
  padding-bottom: 45px;

  border-bottom: 2px solid #eee;
}

.about-us {
  width: 660px;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.about-us b {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}

.order-type {
  position: relative;

  padding-left: 37px;
  margin-bottom: 25px;
}

.order-type::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 11px;

  display: inline-block;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.features {
  width: 360px;
}

.features img {
  margin-bottom: 29px;
}

.features b {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;

  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}


.features td {
  width: 120px;
  padding: 0;
}

.number {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
}

.number sup {
  font-size: 28px;
}

td.number-description {
  padding-top: 10px;
  font-size: 16px;
  line-height: 18px;
}

/* Раздел Партнеры */

.partners {
  border-bottom: 2px solid #eee;
  margin-bottom: 77px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 37px;
}

.partner {
  position: relative;

  display: flex;
  justify-content: center;
  width: 260px;
}

.partner img {
  opacity: 0.2;
}

.partner::after {
  content:"";
  position: absolute;
  right: -19px;

  display: block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partner:first-child::after {
  top: 4px;
}

.partner:nth-child(2)::after {
  top: 19px;
}

.partner:last-child::after {
  display: none;
}

.partner:first-child {
  margin-top: 7px;
}

.partner:last-child {
  margin-top: 4px;
}

.partner:hover img,
.partner:focus img{
  opacity: 1;
}

.partner:active img{
  opacity: 0.1;
}

/* Стили страницы магазина */

.general-title {
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
  padding-top: 77px;
  padding-bottom: 108px;

  font-size: 55px;
  line-height: 55px;
  text-align: center;

  background-color: #eee;
}

.left-column {
  width: 260px;
}

.right-column {
  width: 760px;
  margin-bottom: 56px;
}

.show-button {
  color: #000000;

  background-color: #eeeeee;
}

.show-button:hover,
.show-button:focus,
.pagination-button:hover,
.pagination-button:focus {
  background-color: #dfdfdf;
  border: none;
}

.show-button:active,
.pagination-button:active {
  color: rgba(1, 1, 1, 0.3);

  background-color: #d5d5d5;
  border: none;
}

/* Фильтры */

.filter-fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  border: none;
}

.filter-fieldset:first-child {
  margin-bottom: 55px;
}

.filter-fieldset:last-of-type {
  margin-bottom: 50px;
}

.filter-fieldset legend,
.sort b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.filter-fieldset legend {
  margin-bottom: 16px;
}

.filter-fieldset:first-child legend {
  margin-bottom: 49px;
}

.range-controls {
  position: relative;

  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;

  background-color: #eee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cccdcd;
  background-color: #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 9px 10px;
  margin-left: 10px;

  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background-color: #eee;
}

.max-price {
  text-align: right;
}

.filter-option label {
  position: relative;

  display: block;
  padding-left: 36px;
  margin-bottom: 20px;

  line-height: 20px;
}

.filter-option:last-child label {
  margin-bottom: 0;
}
.filter-option input:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox + label::before,
.filter-input-radio + label::before {
  content:"";
  position: absolute;
  left: 0;
  top: -2px;

  display: block;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg")
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg")
}

.show-button {
  width: 260px;
}

/* Сортировка */

.sort {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.sort b {
  width: 160px;
  margin-right: 240px;
}

.sort ul {
  display: flex;
  justify-content: space-between;
}

.sort ul:first-of-type {
  width: 271px;
  margin-right: 48px;
}

.sort ul:nth-of-type(2) {
  width: 41px;
}

.button-sort {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;

  opacity: 0.3;
}

.button-sort:hover,
.button-sort:focus {
  opacity: 0.6;
}

.button-sort:active,
.current-sort {
  opacity: 1;
}

/* Карточки товаров */

.item-pic {
  position: relative;
}

.item-pic::before {
  content:"";
  position: absolute;
  top: -40px;

  display: block;
  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: top;

  opacity: 0.4;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 760px;
}

.template-item {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 40px;
  width: 360px;
  margin-bottom: 32px;
  height: 576px;
}

.template-item:last-child,
.template-item:nth-last-child(2) {
  margin-bottom: 0;
}

.template-info {
  position: absolute;
  bottom: 0;

  display: none;
  padding: 27px 60px 43px;

  background-color: #eeeeee;
  text-align: center;
}

.template-info h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.template-info a {
  text-decoration: none;
  color: #000000;
}

.template-info p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  line-height: 18px;
  color: #666666;
}

.price-button {
  width: 200px;
}

.template-item:hover .item-pic::before {
  opacity: 1;
}

.template-item:hover .template-info {
  display: block;
}

.pagination-list {
  display: flex;
}

.pagination-item a {
  display: block;
  padding: 17px 20px 15px;
  margin-right: 12px;

  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 2px;
}

.pagination-item-current a {
  padding: 14px 17px 12px;
  background-color: #fff;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  padding: 16px 20px;

  background-color: #dfdfdf;

  border: none;
}

.pagination-item a:active {
  padding: 16px 20px;
  color: rgba(255, 255, 255, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px  0 0 rgba(1, 1, 1, 0.1);
  border: none;
}

.pagination-item:last-child a {
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 260px;

  text-align: center;
}

/* Футер */

.map-container {
  position: relative;

  margin-bottom: 65px;

  background-image: url("../img/map-marker.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-wrapper {
  display: flex;
}

.contact-us-wrapper {
  display: flex;
}

.contact-us {
  margin-top: 60px;
  margin-bottom: 58px;
  padding: 50px 50px 47px;
  width: 219px;

  background-color: #ffffff;
}

.contact-us b {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contact-us p {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;

  line-height: 18px;
  color: #666666;
}

.contact-us .button {
  margin-top: 19px;
  width: 219px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 140px;
  margin-bottom: 69px;
  padding: 0;
  width: 260px;
}

.social-button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 78px;
  height: 78px;

  font-size: 0;

  background-color: #e1e1e1;
  border-radius: 40px;
}

.social-button svg {
  margin: auto;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-promo {
  width: 600px;
}

.social-promo b {
  display: block;

  margin: 0;
  margin-top: 5px;
  margin-bottom: 7px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-promo p {
  margin: 0;
  padding: 0;
}

/* Всплывающее окно */

.modal {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 1000;

  display: none;
}

.modal-write-us {
  margin-left: -480px;
  margin-bottom: 100px;
  padding: 67px 100px 84px;
  width: 760px;

  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0,0.75);
}

.modal-write-us h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 41px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-info {
  margin: 0;
}

.write-us-info label {
  display: block;
  margin-bottom: 10px;


  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us-info input {
  box-sizing: border-box;
  padding: 10px 14px;
  width: 360px;
}

.write-us-info textarea {
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 7px 14px;
  width: 760px;
  min-height: 118px;
}

.write-us-info input[type="text"],
.write-us-info input[type="email"],
.write-us-info textarea {
  margin-bottom: 35px;
  font: inherit;
  font-weight: 400;
  color: #444444;

  opacity: 0.5;
  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.write-us-info input[type="text"]:hover,
.write-us-info input[type="email"]:hover,
.write-us-info textarea:hover {
  color: #b1b1b1;

  border-color: #b4b9bb;
}

.write-us-info input[type="text"]:focus,
.write-us-info input[type="email"]:focus,
.write-us-info textarea:focus {
  color: #000000;

  opacity: 1;
  border-color: #000000;
}

.button-send {
  margin: 0;
  margin-top: 12px;
  width: 260px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  opacity: 0.3;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}
